# OptimismMainnet RPC URL used for fetching blockchain data. Alchemy is recommended.
PONDER_RPC_URL_10=
PONDER_RPC_URL_137=
PONDER_RPC_URL_8453=

# (Optional) Postgres database URL. If not provided, SQLite will be used. 
DATABASE_URL=

PULPA_OPTIMISM_ADDRESS="0x029263aA1BE88127f1794780D9eEF453221C2f30"
XOC_POLYGON_ADDRESS="0xa411c9Aa00E020e4f88Bc19996d29c5B7ADB4ACf"
XOC_BASE_ADDRESS="0xa411c9Aa00E020e4f88Bc19996d29c5B7ADB4ACf"